*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* color variables */

    --background: #121212;
    --menu: #181818;
    --top-gradient: #404040;
    --bottom-gradient: #282828;
    --primary-text: #fff;
    --secondary-text: #b3b3b3;

    --blue-solid:rgb(12, 255, 178);
    --blue-gradient: linear-gradient(90deg, rgba(67,206,162,1) 0%, rgba(24,90,157,1) 100%);
    --orange-solid:rgb(255,95,109);
    --orange-gradient: linear-gradient(90deg, rgba(255,95,109,1) 0%, rgba(255,195,113,1) 100%);


    /* font variables */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body{
    color: var(--primary-text);
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.section-content-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.navigation{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
    z-index: 100;
    background: rgba( 255, 255, 255, 0.20 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.main-nav li{
    list-style: none;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
}

.main-nav li a:hover{
  color: var(--blue-solid);
  transition: all 0.3s ease;
}

.main-nav li a{
    text-decoration: none;
    color: var(--primary-text);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: #121212 1px 1px 5px;
}



.active a{
  color: var(--blue-solid) !important;
  transition: all 0.3s ease;
}

.aurora{
    width: 100vw;
    height: 100vh;
    background: var(--background);
    position: absolute;
    overflow:hidden;
}

.base {
    position: absolute;
    filter: blur(200px);
    opacity: 0.9;
  }
  
  .one {
    border-radius: 100%;
    width: 70%;
    height: 90%;
    background-color: rgba(55, 51, 114, 0.5);
    left:-50px;
    top:-200px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform:rotate(0) translate(80px) rotate(0);
  }
  
  .two {
    width: 60%;
    height: 90%;
    background-color: rgba(124, 51, 108, 0.5);
    bottom:-30px;
    left:-30px;
  }
  
  .three1 {
    border-radius: 100%;
    width: 100%;
    height: 90%;
    bottom:-80px;
    right:-100px;
    background-color: rgba(179, 88, 138, 0.5);
    animation: flyPlus 8s linear infinite;
    transform:rotate(0) translate(100px) rotate(0);
  }

  @keyframes fly {
    100% {
      transform:rotate(1turn) translate(100px) rotate(-1turn);
    }
  }
  
  @keyframes flyPlus {
    100% {
      transform:rotate(-1turn) translate(100px) rotate(1turn);
    }
  }

.glass{
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 4;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.hero{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content{
    position: absolute;
    top:-50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content img{
    width: 400px;
}

.hero-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.hero-content p{
    width: 60%;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.scroll-down{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-down i{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--background);
    z-index: 5;
    animation: bounce 3s linear infinite;
}

@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

/* .decoration-holder{
    position: relative;
    top: 200px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.base1{
    position: absolute;
    color: var(--background);
    font-size: 5rem;
    font-weight: 700;
}

.code{
    width: 50px;
    height: 50px;
    left: 455px;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: var(--blue-gradient);
    z-index: -3;
}

.rotate-center {
	-webkit-animation: rotate-center 10s linear infinite both;
	        animation: rotate-center 10s linear infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

.react{
    right: 200px;
    color: #fff;;
}

.text-pop-up-left{
    -webkit-animation: text-pop-up-left 10s linear infinite both;
            animation: text-pop-up-left 10s linear infinite both;
}

@-webkit-keyframes text-pop-up-left {
    0% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  }
  @keyframes text-pop-up-left {
    0% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
      
    }
  }

.text-pop-up-top{
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    50% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
    51%{
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }

.html{
    left: 200px;
    top: 100px;
}

.css{
    right: 200px;
    top: 100px;
} */


.bg-about{
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url(../img/carlos-moctezuma-web-designer-web-master-front-end-and-back-end-engineer.webp);
    background-size: cover;
}

.about-left{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.glass-about{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.glass-about h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-text);
    text-align: center;
}

.glass-about p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary-text);
    text-align: justify;
}

.glass-about a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue-solid);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.glass-about strong{
  font-size: 1.5rem;
  font-weight: 600;
}

.about-right{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.about-right div{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--blue-gradient);
    padding: 5px;
}

.about-right img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.bg-blue{
    background: var(--blue-gradient);
}

.work-holder{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0 2rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.work-title h2{
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-text);
  text-align: center;
}

.work-content{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  position: relative;
}

.next{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.prev{
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  cursor: pointer;
}



.card-glass{
  min-width: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px;
  align-content: center;
}

.card-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px;
  margin: 2;
  align-content: center;
  position: absolute;
}

.card-image{
  width: 100%;
  height: 40%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content-body{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -1px -3px 11px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px -3px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -3px 11px -2px rgba(0,0,0,0.75);
}

.card-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card-content h3{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-content p{
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1rem;
}

.card-footer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-orange{
    background: var(--orange-gradient);
}

.contact-holder{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0 2rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.contact-title h2{
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-text);
  text-align: center;
}

.contact-form-holder{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact-form{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact-item label{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-text);
  text-align: left;
  margin-bottom: 1rem;
}

.contact-item input{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-text);
  text-align: left;
  margin-bottom: 1rem;
}

.contact-item textarea{
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-text);
  text-align: left;
  margin-bottom: 1rem;
}

.contact-item button{
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-text);
  text-align: center;
  margin-bottom: 1rem;
  background: transparent;
  border: 1px solid var(--primary-text);
  cursor: pointer;
}

.contact-item button:hover{
  background: var(--orange-solid);
  color: var(--primary-text);
}

.footer-content-holder{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}

.footer-content{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-item{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.footer-item a i{
  font-size: 3rem;
  color: var(--primary-text);
  margin: 0 1rem;
}

.fa-square-facebook:hover{
  color: #3b5998;
}

.fa-linkedin:hover{
  color: #0e76a8;
}

.fa-square-github:hover{
  color: #171515;
}

.fa-square-twitter:hover{
  color: #00acee;
}

.footer-item img{
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin: 20px;
  border-radius: 50%;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 2rem;
}

.social{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 2rem;
}

.social li{
  list-style: none;
  margin-bottom: 1rem;
}

.social a{
  font-size: 1.5rem;
  color: var(--primary-text);
  margin-bottom: 1rem;
}