<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Moctezuma | Web Master, Web Developer, Web Optimizer, Front-End & Back-End Engineer, Front-End & Back-End Engineer</title>

     <!-- Meta data  -->
     <meta name="title" content="Carlos Moctezuma | Web Master, Web Developer, Web Optimizer, Front-End & Back-End Engineer">
     <meta name="description" content="Personal page of Carlos Moctezuma aka CRDGOM, here you can get to know me a little more, the projects in which I have collaborated, my personal projects as a frontend developer, backend, website optimization, some coding, my passions and hobbies.">
     <meta name="keywords" content="mi mejor amigo, mi querido amigo, siempre te recordaré, te querré siempre, recuerdos de mi perro">
     <meta name="robots" content="index, follow">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <meta name="language" content="English">
     <meta name="revisit-after" content="100 days">
     <meta name="author" content="Carlos Moctezuma">
     <meta name="msapplication-config" content="../../browserconfig.xml" />
 
     <!-- Open Graph / Facebook -->
     <meta property="og:type" content="website">
     <meta property="og:url" content="https://carlosmoctezuma.me">
     <meta property="og:title" content="Carlos Moctezuma | Web Master, Web Developer, Web Optimizer, Front-End & Back-End Engineer">
     <meta property="og:description" content="Personal page of Carlos Moctezuma aka CRDGOM, here you can get to know me a little more, the projects in which I have collaborated, my personal projects as a frontend developer, backend, website optimization, some coding, my passions and hobbies.">
     <meta property="og:image" content="https://carlosmoctezuma.me/img/carlosmoctezuma.webp">
 
 
     <!-- Twitter -->
     <meta property="twitter:card" content="summary_large_image">
     <meta property="twitter:url" content="https://carlosmoctezuma.me">
     <meta property="twitter:title" content="Carlos Moctezuma | Web Master, Web Developer, Web Optimizer, Front-End & Back-End Engineer">
     <meta property="twitter:description" content="Personal page of Carlos Moctezuma aka CRDGOM, here you can get to know me a little more, the projects in which I have collaborated, my personal projects as a frontend developer, backend, website optimization, some coding, my passions and hobbies.">
     <meta property="twitter:image" content="https://carlosmoctezuma.me/img/carlosmoctezuma.webp">
 
     <!-- Favicon -->
 
     <link rel="apple-touch-icon" sizes="180x180" href="../../img/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon-16x16.png">
     <link rel="manifest" href="../../site.webmanifest">
     <link rel="mask-icon" href="../../img/safari-pinned-tab.svg" color="#5bbad5">
     <link rel="shortcut icon" href="../../img/favicon.ico">
     <meta name="msapplication-TileColor" content="#da532c">
     <meta name="msapplication-config" content="../../browserconfig.xml">
     <meta name="theme-color" content="#ffffff">
 
     <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
     <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></noscript>
     <link rel="stylesheet" href="../../css/under-construction.css">
 
</head>
<body>


</body>
</html>