<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/carlosmoctezuma.css">
    </head>
    <body>

        <section>
            <div class="section-content-holder">
                <div class="aurora">
                    <div class="base one"></div>
                    <div class="base two"></div>
                    <div class="base three"></div>
                </div>
                <div class="glass">
                    <div class="hero">
                        <div class="hero-content">
                            <img src="../public/img/carlos-moctezuma-avatar.webp" alt="Carlos Moctezuma Avatar">
                            <h1>Carlos Moctezuma</h1>
                            <h2>Front End Developer</h2>
                            <p>Hi, I'm Carlos Moctezuma, a Front End Developer based in Mexico City. I'm passionate about creating beautiful and functional websites.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>